# Rutas específicas del usuario
MR-PDG/Build/
MR-PDG/Library/
MR-PDG/.vs/
MR-PDG/Temp/
MR-PDG/Logs/

# Configuración general para proyectos de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
Assets/AssetStoreTools*

# Archivos generados por Unity
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Archivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de configuración de IDEs
.vscode/
.idea/
*.code-workspace

# Archivos relacionados con la caché del terreno
Terrain/
*.raw

# Configuración de dependencias externas (Opcional)
*.unitypackage
*.bak
*.meta

# Archivos específicos de plataformas
*.apk
*.ipa
*.unitypackage

# Archivos de XR y configuraciones específicas de dispositivos
*.log
Plugins/Android/libs/
Plugins/Android/bin/

# Configuraciones de Builds
*.ilk
*.exp
*.idb
*.manifest
*.proto.bin

# Para Git LFS (si se usa)
*.psd
*.tga
*.tif
*.mp4
*.wav
*.fbx
*.anim
*.mesh
